/*
.wishlist {
    height: auto;
    min-height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
}

.wishlist__container {
    height: auto;
    width: 70%;
    background-color: rgb(243, 243, 243);
}

.wishlist__header{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist__header>h2  {
    width: auto;
}

.wishlist__items__container {
    width: 100%;
    padding: 20px;
}

.wishlist__items {
    width: 100%;
    min-height: 50px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wishlist__item__label {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-style: solid;
}


.wishlist__item__label> div {
}
*/ .cart__items__container {
    width: 100%;
    min-width: 200px;
    min-height: 100px;
    height: 85%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItems {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.cart__header {
    width: 100%;
    height: 50px;
    text-align: center;
}

.shop__cart__items {
    width: 100%;
    height: 90%;
    margin-bottom: 50px;
}

.cart__empty {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 300;
}

.options {
    width: 100%;
    height: auto;
}

.total__amount {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f1f1f1;
    /*  position: absolute; */
    margin: auto;
    bottom: 0%;
}

.total__amount__label {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto 10px;
    font-weight: 700;
}

.total__amount__value {
    width: 20%;
    min-width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;

}

.checkout {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}